<!DOCTYPE html>
<html>
<head>
    <title>xpathfeed</title>

    <script>
        function clipboard(str) {
            var textarea = document.createElement("textarea")
            textarea.value = str
            document.body.appendChild(textarea)
            textarea.select()
            document.execCommand('copy')
            document.body.removeChild(textarea)
        }

        function form_url() {
            var form = document.querySelector("form")
            var args = new URLSearchParams(new FormData(form))
            clipboard(`${form.action}?${args}`)
        }
    </script>
</head>
<body>
    <form action="/feed" method="get">
        <select name="bridge" required>
        {% for k, v in bridges.items() %}
            <option value="{{ k }}">{{ k }}</option>
        {% endfor %}
        </select>
        <input type="url" name="src" placeholder="src" required>
        <button type="button" onclick="form_url()">📋</button>
    </form>
</body>
</html>
